<div class="row">

  <div class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form">

      <div class="form-group">
        <label for="email-login">Username</label>
        <input type="text" class="form-control" id="user-login" placeholder="user name">
      </div>

      <div class="form-group">
        <label for="password-login">Password</label>
        <input type="text" class="form-control" id="password-login" placeholder="password">
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-secondary">Log in</button>
      </div>

    </form>
  </div>

  <hr>
  <p>or</p>

  {{!-- vertical line needed and or letter in round circle --}}

  <div class="col-md-6">
    <h2>Sign up</h2>

    <form class="form signup-form">

      <div class="form-group">
        <label for="email-login">Username</label>
        <input type="text" class="form-control" id="user-signup" placeholder="user name">
      </div>

      <div class="form-group">
        <label for="password-login">Password</label>
        <input type="password" class="form-control" id="password-signup" placeholder="password">
      </div>

      <div class="form-group">
        <label for="password-login">Postcode</label>
        <input type="text" class="form-control" id="postcode-signup" placeholder="postcode">
      </div>

      <div class="slidecontainer">
        <label for="radius-search">Search Radius</label>
        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
      </div>

      <div class="dropdown open">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Fuel Type
        </button>
        <div class="dropdown-menu">
          <h6 class="dropdown-header">Choose Fuel type</h6>
          <a class="dropdown-item" href="#!">Regular unleaded petrol (91)</a>
          <a class="dropdown-item" href="#!">E10</a>
          <a class="dropdown-item" href="#!">Premium unleaded petrol (95)</a>
          <a class="dropdown-item" href="#!">Premium unleaded petrol (98)</a>
          <a class="dropdown-item" href="#!">E85</a>
          <a class="dropdown-item" href="#!">Diesel</a>
          <a class="dropdown-item" href="#!">Liquefied petroleum gas (LPG)</a>
        </div>
      </div>
      <br>


      {{!-- <label for="drop-down">Fuel Type</label>
      <select name="drop-down" id="fuel-choice">
        <option value="one">Regular unleaded petrol (91)</option>
        <option value="two">E10</option>
        <option value="three">Premium unleaded petrol (95)</option>
        <option value="four">Premium unleaded petrol (98)</option>
        <option value="five">E85</option>
        <option value="six">Diesel</option>
        <option value="seven">Liquefied petroleum gas (LPG)</option>
      </select> --}}

      <div class="form-group">
        <button class="btn btn-secondary" type="submit">Create Account</button>
      </div>

    </form>

    
  </div>
</div>

<script src=""></script>


