<div class="row">

  <div class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form">

      <div class="form-group">
        <label for="email-login">Username</label>
        <input class="form-input" type="text" id="user-login" />
      </div>

      <div class="form-group">
        <label for="password-login">Password</label>
        <input class="form-input" type="password" id="password-login" />
      </div>

      <div class="form-group">
        <button class="btn btn-primary" type="submit">Log In</button>
      </div>

    </form>
  </div>

  {{!-- vertical line needed and or letter in round circle --}}

  <div class="col-md-6">
    <h2>Sign up</h2>

    <form class="form signup-form">

      <div class="form-group">
        <label for="name-signup">Username</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>

      <div class="form-group">
        <label for="email-signup">Password</label>
        <input class="form-input" type="text" id="password-signup" />
      </div>

      <div class="form-group">
        <label for="password-signup">Postcode</label>
        <input class="form-input" type="password" id="postcode-signup" />
      </div>

      <div class="form-group">
        <button class="btn btn-primary" type="submit">Create Account</button>
      </div>

    </form>
  </div>
</div>

<script src=""></script>


