<header>
  <h1 style="font-size:5vh; width:100vw; text-align: center; margin: 5vh;">
    Top 5 In your area
  </h1> 

</header>
<section class="container col-md-8">
  <ul class="list-group" style="font-size: 2vh;">
    <li class="list-group-item list-group-item-action list-group-item-dark" id="1">
      {{1}}
    </li>
    <li class="list-group-item list-group-item-action list-group-item-dark" id="2">
      Ampol
    </li>
    <li class="list-group-item list-group-item-action list-group-item-dark " id="3">
      Shell
    </li>
    <li class="list-group-item list-group-item-action list-group-item-dark" id="4">
      Caltex
    </li>
    <li class="list-group-item list-group-item-action list-group-item-dark" id="5">
      Puma
    </li>
  </ul>
</section>
<button class="btn btn-primary justify-content-right align-items-center" type="button" data-toggle="collapse" data-target="#settings" aria-expanded="false" aria-controls="settings">
    <<
</button>
<aside class="collapse justify-content-right col-md-3 bg-dark text-light rounded pt-3 mb-2" id="settings" style="margin-left: 2vw">

  <form class="form signup-form">

    <div class="form-group">
      <label for="password-login">Suburb</label>
      <input type="text" class="form-control" id="postcode-signup" placeholder="Suburb">
    </div>

    <br>

    <div class="slidecontainer">
      <label for="radius-search">Search Radius</label>
      <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
      <p id="value"></p>
    </div>

    <br>

    <div class="dropdown open">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Fuel Type
      </button>
      <div class="dropdown-menu">
        <h6 class="dropdown-header">Choose Fuel type</h6>
        <a class="dropdown-item" id="itemVal" value="10" href="#!">Regular unleaded petrol (91)</a>
        <a class="dropdown-item" href="#!">E10</a>
        <a class="dropdown-item" href="#!">Premium unleaded petrol (95)</a>
        <a class="dropdown-item" href="#!">Premium unleaded petrol (98)</a>
        <a class="dropdown-item" href="#!">E85</a>
        <a class="dropdown-item" href="#!">Diesel</a>
        <a class="dropdown-item" href="#!">Liquefied petroleum gas (LPG)</a>
      </div>
    </div>

    <br>

    <div class="form-group">
      <button class="btn btn-secondary" type="submit">Submit</button>
    </div>
  </form>
</aside>

<script>
  let slider = document.getElementById("myRange");
  let output = document.getElementById("value");
  output.innerHTML = slider.value + "km"; // Display the default slider value

  // Update the current slider value (each time you drag the slider handle)
  slider.oninput = function() {
  output.innerHTML = this.value + "km";
}
</script>