<div class="menu-container">
  <div class="card-header col-md-10">
    <h2>
      Top 5 in Your Area
    </h2>
  </div>
    <div>
      <ul>
        <li>
          BP
        </li>
        <li>
          Ampol
        </li>
        <li>
          Shell
        </li>
        <li>
          Caltex
        </li>
        <li>
          Puma
        </li>
      </ul>
    </div>
  </div>
</div>